.footer {
  background-color: #222222;
  padding: 3rem 0;
}

.footer__logo {
  width: 16rem;
}

.footer__details {
  margin: 2rem auto 1.4rem;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__menu-title {
  font-size: var(--size-5xl);
  color: var(--white-color);
  margin-bottom: 1.4rem;
}

.footer__menu-lists {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__menu-lists a {
  color: var(--ash-color);
  font-size: var(--size-md);
}

.footer__line {
    width: 95%;
    margin: 2rem auto 0;
}

.copyright {
    display: grid;
    place-content: center;
    padding: 3rem 0 0;
}

.copyright__text {
    font-size: var(--size-md);
    color: var(--ash-color);
    font-weight: 500;
}

/* for small screen */

@media (min-width: 500px) {
  section {
    padding: 0 0.7rem;
  }
  .container {
    max-width: 500px;
  }

  .footer__line {
    width: 80%;
}
}

/* for medium screen */

@media (min-width: 768px) {
  section {
    padding: 0 1rem;
  }
  .container {
    max-width: 768px;
  }

  .footer___description {
    width: 60%;
    margin-bottom: 4rem;
  }

  .footer__menu {
    flex-direction: row;
    gap: 20rem;
  }
}

/* for large screen */

@media (min-width: 1280px) {
  section {
    padding: 0 2rem;
  }
  .container {
    max-width: 1280px;
  }

  .footer___description {
    width: 50%;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__menu {
    width: 50%;
    gap: 0;
    justify-content: space-around;
  }
}
